@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vidaloka&display=swap');

img.image {
    font-family: poppins;
    width: clamp(8rem, 40vw, 50rem);
    border-radius: 20px;
    padding: 20px;

  
}
.Playground {
  font-family: Poppins;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 10rem;
  color: #333;
  margin-bottom: -3rem;
}
.featuredTitle {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 0;
    color: #333;
    margin-bottom: -3rem;
  }
  
  /* Title Styling */
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px; /* Reduce the space above the title */
    margin-bottom: 10px; /* Reduce space below the title */
    text-align: center;
    letter-spacing: 1px;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 0 3rem;
    text-align: left;
  }
  
  /* Description Styling */
  .description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0; /* Remove any margin from the top of the description */
    color: #616161;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 0 3rem;
    text-align: left;
    padding-bottom: 2rem;
  }
  

  
  @keyframes fadeInTitle {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDescription {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  