@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vidaloka&display=swap');

.projects {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    color: #292929;
}

.projects h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.projects h2 {
    font-size: 2rem;
    line-height: 15%;
    font-weight: 800;
    color: #292929;
}


/* Projects Grid */
.projects__wrapper {
    display: grid;
    max-width: 75%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
}

/* Individual Project Card */
.projects__card {
    background: #ffffff;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #616161;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projects__card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


.projects__card p {
    font-size: 1.3rem;
    color: #616161;
}

/* Hover effect */
.projects__card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}


/* Mobile Responsive */
@media (max-width: 768px) {
    .projects__wrapper {
        grid-template-columns: 1fr;
    }

    .projects h2 {
        line-height: 1;
    }
    .projects h1 {
        font-size: 2.5rem;
    }

    .projects__card {
        padding: 15px;
    }
}
